.modal {
  width: 600px;
  border-radius: 5px;
  position: relative;
  padding: 25px;
  background-color: #242424;
}
.iconClose {
  position: absolute;
  top: -25px;
  right: -25px;
  cursor: pointer;
}