.footer {
  padding: 10px 25px;
  display: flex;
  justify-content: space-between;
  min-height: 50px;
  align-items: center;
  background-color: #101010;
  margin-top: 30px;
  width: 100%;
}
.text {
  font-weight: 700;
  margin: 0;
}
